
body {
    background: #ddd;
    font-family: "Fira Sans","Trebuchet MS",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    margin: 10px;
    padding: 1rem;
    max-width: none;
    margin: 1rem auto;
}

.header_section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 3vw;
}

.header_bio {
    justify-content: left;
    box-sizing: border-box;
}

div {
    display: block;
}

.menu {
    justify-content: space-around;
    box-sizing: border-box;
}

img {
    border-radius: 20px;
    max-width: 20vw;
    display: inline-flex;
}

a {
    text-decoration: none;
    color: black;
}
.button {
	background-color: white;
 	color: black;
	border: none;
    border-radius: 5px;
	transition-duration: 0.4s;
	font-size: 16px;
    margin-right: 2em;
	display: inline;
	transition-duration: 0.4s;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: rgba(255, 0, 0, 0.74);
	color: black;
}